*.zip
*.jar
*.mod
*.o
*~
*.sw?
mx.trufflex86/*.pyc
mx.trufflex86/.project
mx.trufflex86/.pydevproject
mx.trufflex86/*.iml
mx.trufflex86/env
mx.trufflex86/eclipse-launches/**
.DS_Store
build.xml
workingsets.xml
hs_err_pid*.log
compilations-*.cfg
trufflex86/**
lib/**
mxbuild/**
mx.imports/**
.idea/**
build/**
graal/**
projects/.project
projects/*/nbproject/
projects/*/build.xml
projects/*/\.settings
projects/*/\.classpath
projects/*/\.project
projects/*/\bin
projects/*/\.checkstyle
projects/*/*.iml
projects/*/\.factorypath
/.metadata/
