*.zip
*.jar
*.mod
*.o
*~
*.sw?
mx.vmx86/*.pyc
mx.vmx86/.project
mx.vmx86/.pydevproject
mx.vmx86/*.iml
mx.vmx86/env
mx.vmx86/eclipse-launches/**
.DS_Store
build.xml
workingsets.xml
hs_err_pid*.log
compilations-*.cfg
vmx86/**
lib/**
mxbuild/**
mx.imports/**
.idea/**
build/**
graal/**
projects/.project
projects/*/nbproject/
projects/*/build.xml
projects/*/\.settings
projects/*/\.classpath
projects/*/\.project
projects/*/\bin
projects/*/\.checkstyle
projects/*/*.iml
projects/*/\.factorypath
/.metadata/
